<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quản lý tài khoản</title>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link src="../css/style.css" rel="stylesheet" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
            color: darkblue;
        }
    </style>

    <script>

    </script>

</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<header>
    <div class="col-sm-12 border-bottom">
        <div class="row d-flex align-items-center w-100" style="font-size:18px">
            <a th:href="@{/}" class="col-sm-1" style="width: 10%">
                <div style="height:5em; width: 100%;">
                    <img th:src="@{/images/ttcgroup.png}" class="w-100 h-100" alt="LOGO TTCGROUP">
                </div>
            </a>
            <div class="col-sm-1 d-flex align-items-center" style="height:5em; width: 12%;">
                <a th:href="@{/nha-dat-ban}">Nhà đất cần bán</a></div>
            <div class="col-sm-1 d-flex align-items-center" style="height:5em; width: 12%;">
                <a th:href="@{/nha-dat-cho-thue}" class="align-middle">Nhà đất cho thuê</a></div>
            <div class="col-sm-1 d-flex align-items-center" style="height:5em; float: right; left: 38em;">
                <a type="button" class="btn btn-outline-primary" th:href="@{/dang-tin-nha-dat}">Đăng Tin</a>
            </div>
            <div class="col-sm-1 d-flex align-items-center justify-content-center" style="height:5em; float: right; left: 36em; width: 9em;"
                 th:if="*{username}">
                <a class="btn btn-outline-secondary border-0 w-100 d-flex justify-content-center align-items-center" th:href="@{/tai-khoan/{username}(username=*{username})}">
                    <img th:src="'data:image/jpeg;base64,'+ *{avatar1}" class="rounded-circle" style="width: 2.5em; height: 2.5em">
                    <p th:text="*{username}" style="font-size: 15px; margin:3px"></p>
                </a>
                <div class="dropdown">
                    <button class="btn border-0 dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a th:href="@{/cap-nhat-thong-tin}" class="dropdown-item" type="button">Cập nhật thông tin</a></li>
                        <li><a th:href="@{/doi-mat-khau}" class="dropdown-item" type="button">Đổi mật khẩu</a></li>
                        <li><a th:href="@{/logout}" class="dropdown-item" type="button">Đăng xuất</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-1 d-flex align-items-center" style="height:5em; float: right; left: 36em"
                 th:unless="*{username}">
                <a type="button" class="btn btn-outline-dark" th:href="@{/login}">Đăng Nhập</a>
            </div>
        </div>
        </div>
    </div>
</header>


<div class="col-sm-12">
    <div class="col-sm-12 d-flex justify-content-end">
        <div class="col-sm-9">
            <div class="row" style="height: 4em;" >
                <form>

                </form>
                <div class="col-sm-3 h-100 form-floating">
                    <input type="text" name="text-search" class="form-control form-group h-100" id="text">
                    <label for="text">Nhập thông tin</label>
                </div>
                <div class="col-sm-3 h-100 form-floating">
                    <select name="select" class="form-group form-control form-select h-100" aria-label="Floating label select example" id="select1">
                        <option value="0" selected>Tất cả</option>
                        <option value="1">ID</option>
                        <option value="2">Tên tài khoản</option>
                        <option value="3">Họ tên</option>
                        <option value="4">Số điện thoại</option>
                        <option value="5">Email</option>
                        <option value="6">Đã xóa</option>
                    </select>
                    <label for="select1">Tìm kiếm theo</label>
                </div>
                <div class="col-sm-1 h-100">
                    <button type="button" class="btn btn-outline-info h-100" onclick="loadUser()">TÌM KIẾM</button>
                </div>
                <div class="col-sm-1 d-flex float-end h-100" style="left: 30%">
                    <button class="btn btn-outline-danger form-control form-group float-end d-flex align-items-center justify-content-center h-100" style="width: 15em;" onclick="deleteAccountAdmin()">
                        <i class="glyphicon glyphicon-trash"> Xóa Tài Khoản</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 border-end" style="width: 20%; margin-top: 3em; font-size: 15px; font-weight: 600">
            <a href="http://localhost:8080/quan-ly/home">
                <div class="col-sm-12 border-bottom d-flex align-items-center p-4 btn-outline-secondary">
                    <i class="glyphicon glyphicon-home"> Trang chủ </i>
                </div>
            </a>
            <a href="http://localhost:8080/quan-ly/quan-ly-tai-khoan" class="active">
                <div class="col-sm-12 border-bottom btn-outline-secondary d-flex align-items-center p-4 active">
                    <i class="glyphicon glyphicon-user"> Danh sách người dùng</i>
                </div>
            </a>
            <a href="http://localhost:8080/quan-ly/quan-ly-bai-viet">
                <div class="col-sm-12 border-bottom d-flex align-items-center p-4 btn-outline-secondary">
                    <i class="glyphicon glyphicon-edit"> Danh sách bài viết</i>
                </div>
            </a>

        </div>
        <div class="col-sm-9 border-bottom-0 border" style="width: 80%;">
            <div class="container m-5">
                <div class="" id="list-user">
                    <table class="table table-hover" style="font-size: 15px">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tên tài khoản</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Điện thoại</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            <th scope="col">SELECT</th>
                        </tr>
                        </thead>
                        <tbody id="user-list">
                        <tr th:each="user : ${informationUsers}" style="height: 4em" class="align-middle" id="user">
                            <th scope="row" th:text="*{user.inforId}"></th>
                            <td th:text="*{user.userName}"></td>
                            <td th:text="*{user.fullName}"></td>
                            <td th:text="*{user.phone}"></td>
                            <td th:text="*{user.email}"></td>
                            <td> <a th:href="@{/quan-ly/tai-khoan/{username}(username=*{user.getUserName()})}"> Xem </a></td>
                            <td>
                                <input type="checkbox" th:value="*{user.userName}" th:if="*{user.deleted}" name="deleteAccount" checked>
                                <input type="checkbox" th:value="*{user.userName}" th:unless="*{user.deleted}" name="deleteAccount">

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<footer >
    <div class="col-sm-12" style="background-color: #003e71; height: auto; color: #FFFFFF; top: 5em" >
        <div class="container">
            <div class="row">
                <div class="col-sm-4" style="height: 10em">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="container">
                                <div class="col-sm-12 d-flex justify-content-center align-items-end border-bottom" style="height: 10em">
                                    <h2 style="margin-bottom: 1em">HƯỚNG DẪN</h2>
                                </div>
                                <div class="col-sm-12 d-flex flex-column justify-content-center" style="font-size: 13px">
                                    <p style="margin-top: 0.5em">Giá giá & hỗ trợ</p>
                                    <p style="margin-top: 0.25em">Câu hỏi thường gặp</p>
                                    <p style="margin-top: 0.25em">Về chúng tôi</p>
                                    <p style="margin-top: 0.25em">Thông báo</p>
                                    <p style="margin-top: 0.25em">Liên hệ</p>
                                    <p style="margin-top: 0.25em">Sitemap</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="container">
                                <div class="col-sm-12 d-flex justify-content-center align-items-end border-bottom" style="height: 10em">
                                    <h2 style="margin-bottom: 1em">QUY ĐỊNH</h2>
                                </div>
                                <div class="col-sm-12 d-flex flex-column justify-content-center" style="font-size: 13px">
                                    <p style="margin-top: 0.5em">Quy định đăng tin</p>
                                    <p style="margin-top: 0.25em">Quy chế hoạt động</p>
                                    <p style="margin-top: 0.25em">Điều khoản thỏa thuận</p>
                                    <p style="margin-top: 0.25em">Chính sách bảo mật</p>
                                    <p style="margin-top: 0.25em">Giải quyết khiếu nại</p>
                                    <p style="margin-top: 0.25em">Góp ý báo lỗi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="container">
                        <div class="container">
                            <div class="col-sm-12 d-flex justify-content-center align-items-end border-bottom" style="height: 10em">
                                <h2 style="margin-bottom: 1em">TỔNG ĐÀI HỖ TRỢ</h2>
                            </div>
                            <div class="col-sm-12" style="margin-top: 3em;">
                                <a href="tel: 19001008" style="color: #FFFFFF;">
                                    <h4 style="margin-left: 3em"><i class="fas fa-headphones-alt" style="font-size: 18px"> Tổng đài CSKH: 19001008</i></h4>
                                </a>
                            </div>
                            <div class="col-sm-12 border-bottom" style="margin-top: 2em; padding-bottom: 2em;">
                                <a href="mailto: ttcgroup@gmail.com" style="color: #FFFFFF;">
                                    <h4 style="margin-left: 3em;"><i class="fas fa-envelope" style="font-size: 18px"> ttcgroup@gmail.com</i></h4>
                                </a>
                            </div>
                            <div class="col-sm-12" style="margin-top: 1em;margin-left: 4em; font-size: 18px">LIÊN HỆ VỚI CHÚNG TÔI</div>
                            <div class="col-sm-12">
                                <div class="row justify-content-center" style="margin-top: 1.5em">
                                    <div class="col-sm-3 d-flex justify-content-center">
                                        <a href="https://www.facebook.com/ttcgroup" style="color: #ffffff; font-size: 20px">
                                            <i class="fab fa-facebook-square" style="font-size: 35px"></i>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 d-flex justify-content-center">
                                        <a href="https://www.youtube.com/channel/ttcgroup" style="color: #FFFFFF; font-size: 20px">
                                            <i class="fab fa-youtube-square" style="font-size: 35px"></i>
                                        </a>
                                    </div>
                                    <div class="col-sm-3 d-flex justify-content-center">
                                        <a href="https://www.instagram.com/ttcgroup" style="color: #FFFFFF; font-size: 20px">
                                            <i class="fab fa-instagram" style="font-size: 35px"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="container">
                        <div class="col-sm-12 d-flex align-items-center justify-content-center" style="height: 20em; margin-bottom: 1em; margin-top: 1em">
                            <img th:src="@{/images/ttcgroup.png}" class="w-75 h-100" style="background-color: #003e71"/>
                        </div>
                        <div class="col-sm-12" style="margin-bottom: 2em">
                            <h3 style="font-size: 18px"><i class="fas">Công ty môi giới bất động sản TTCGROUP</i></h3><br>
                            <h4><i class="fas fa-map-marked-alt">  Địa chỉ: Tầng 3, tòa nhà VANANH Building, đường Xã Đàn, Đống Đa, Hà Nội</i></h4> <br>
                            <h4><i class="fas fa-phone">   0358.260.822 - (0204).234.234</i></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{/javascript/jquery-3.6.0.min.js}" type="text/javascript"></script>
<script th:src="@{/javascript/ajax.js}"></script>

</body>
</html>