<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:src="@{css/style.css}" rel="stylesheet" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>
<body>

<footer>
    <div class="col-sm-12" style="background-color: #003e71; height: auto; color: #FFFFFF" >
        <div class="container">
            <div class="row">
                <div class="col-sm-4 border" style="height: 10em">
                    <div class="row">
                        <div class="col-sm-6">
                            <p></p>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 border" style="height: 10em">
                    <div class=""></div>
                </div>
                <div class="col-sm-4 border">
                    <div class="col-sm-12 d-flex align-items-center justify-content-center" style="height: 20em; margin-bottom: 1em; margin-top: 1em">
                        <img src="../static/images/ttcgroup.png" class="w-75 h-100"/>
                    </div>
                    <div class="col-sm-12">
                        <h2>Công ty môi giới bất động sản TTCGROUP</h2>
                        <h4><i class="fas fa-location-arrow"> Địa chỉ: Tầng 3, tòa nhà VANANH Building, đường Xã Đàn, Đống Đa, Hà Nội</i></h4>
                        <h4><i class="fas fa-phone"> 0358.260.822 - (0204).234.234</i></h4>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>